@model CmsProject.Utilities.Paging.PagedResult<CmsProject.DomainClass.EnumEntity.EnumEntity>

@{
    ViewData["Title"] = "لیست مقادیر شمارشی";
}

<h2>لیست مقادیر شمارشی</h2>
<br />
<p>
    <a asp-area="Admin" asp-controller="EnumEntitys" asp-action="Create" class="btn btn-success">
        <i class="fa fa-plus"></i> افزودن مقادیر شمارشی جدید
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().GroupEnumEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results.FirstOrDefault().Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    @{
                        var rowNo = (Model.CurrentPage - 1) * Model.PageSize + i;
                        i++;
                    }
                    @rowNo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupEnumEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-area="admin" asp-controller="EnumEntitys" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary btn-sm">
                        <i class="fa fa-edit"></i> ویرایش
                    </a>
                    <a asp-area="admin" asp-controller="EnumEntitys" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">
                        <i class="fa fa-bars"></i> جزئیات
                    </a>
                    <a asp-area="admin" asp-controller="EnumEntitys" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i> حذف
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3">
                @(await Component.InvokeAsync<CmsProject.WebCore.ViewComponents.PagerComponent>(Model))
            </td>
        </tr>
    </tbody>
</table>