@model CmsProject.DomainClass.TrainingCenter.TrainingCenter

@{
    ViewData["Title"] = "حذف مرکز آموزشی";
}

<h2>حذف</h2>

<h3>آیا از حذف '@Model.Name' مطمئن هستید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">بازگشت به لیست</a>
    </form>
</div>
